@model IEnumerable<Blog.Models.Post>

@{
    ViewData["Title"] = "Home Page";
    var mod = Model;

}
<button onclick="myFunction()">Try it</button>

<p id="demo"></p>
<form asp-action="Index">
    <select id="sort" onchange="getComboA(this)">
        <option value="all" selected='@(ViewData["Genre"].ToString() == "all" ? "selected" : null)'>All</option>
        <option value="IT" selected='@(ViewData["Genre"].ToString() == "IT" ? "selected" : null)'>IT</option>
        <option value="Movies" selected='@(ViewData["Genre"].ToString() == "Movies" ? "selected" : null)'>Movies</option>
        <option value="Jokes" selected='@(ViewData["Genre"].ToString() == "Jokes" ? "selected" : null)'>Jokes</option>
        <option value="Other" selected='@(ViewData["Genre"].ToString() == "Other" ? "selected" : null)'>Other</option>
    </select>
    @*<input type="submit">*@
</form>



<ul style="list-style-type:none">
    @foreach (var post in mod)
    {
        <div class="form-row d-flex justify-content-between my-3">
            <div class="form-group col-md-12 d-flex flex-column align-items-center">
                <h3>@post.Title</h3>
                <li title="">@post.Description</li>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                    }
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">Details</a>

                </td>
            </div>
        </div>

    }
</ul>




