@model IEnumerable<Blog.Models.Post>


@{
    ViewData["Title"] = "Home Page";
    var mod = Model;

}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

<h4 align="center">Sort by category 
<form asp-action="Index">
    <select id="sort" onchange="getComboA(this)">
        <option value="all" selected='@(ViewData["Genre"].ToString() == "all" ? "selected" : null)'>All</option>
        <option value="IT" selected='@(ViewData["Genre"].ToString() == "IT" ? "selected" : null)'>IT</option>
        <option value="Movies" selected='@(ViewData["Genre"].ToString() == "Movies" ? "selected" : null)'>Movies</option>
        <option value="Jokes" selected='@(ViewData["Genre"].ToString() == "Jokes" ? "selected" : null)'>Jokes</option>
        <option value="Other" selected='@(ViewData["Genre"].ToString() == "Other" ? "selected" : null)'>Other</option>
    </select>
    @*<input type="submit">*@
</form>

</h4>


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div id="postlist">
                <div class="panel">
                    @foreach (var post in mod)
                    {
                        <div class="panel-heading">
                            <div class="text-center">
                                <div class="row">

                                    <div class="col-sm-9">
                                        <h3 class="pull-left">@post.Title</h3>
                                    </div>
                                    @**<div class="col-sm-3">
                                        @*<h4 class="pull-right">
                                            <small><em>@post.CreatedOn.Date.ToShortDateString()<br>18:30:00</em></small>
                                        </h4>
                                    </div>*@
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            @post.Description
                        </div>
                        <div class="panel-footer">
                            
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="label label-default" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" >Edit</a>
                                }
                                <a class="label label-default" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">Details</a>

                            </td>
                        </div>
                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function getComboA(selectObject) {
        var value = selectObject.value;


        window.location.href = "/?data=" + value;
    }

</script>

