@model IEnumerable<Blog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h3 align="center">
    <a class="label label-default"  asp-action="Create">Create New</a>
</h3>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @{
                    var cat = string.Join(", ", item.Categories.Select(x => x.Category.Type));

                }
                @Html.DisplayFor(modelItem => cat)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a class="label label-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="label label-default" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a class="label label-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<button class="label label-default" onclick="window.history.back()">Back</button>


