@model IEnumerable<Blog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h3 align="center">
    <a class="label label-default" asp-action="Create">Create New</a>
</h3>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div id="postlist">
                <div class="panel">
                    @foreach (var post in Model)
                    {
                        <div class="panel-heading">
                            <div class="text-center">
                                <div class="row">

                                    <div class="col-sm-9">
                                        <h3 class="pull-left">@post.Title</h3>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4 class="pull-right">
                                            <small><em>@post.CreatedOn.ToLongDateString()<br>@post.CreatedOn.ToShortTimeString()</em></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body " style=" word-wrap: break-word">
                            @post.Description
                        </div>

                        <div class="col-sm-5" align="left">
                            <h4>
                                @{
                                    var cat = string.Join(", ", post.Categories.Select(x => x.Category.Type));
                                }
                                <small>Categories: @cat</small>
                            </h4>
                        </div>
                        <div class="panel-footer" align="right">
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="label label-default" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                                    <a class="label label-default" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                                }
                                <a class="label label-default" asp-action="Details" asp-route-id="@post.Id">Details</a>
                            </td>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<button class="label label-default" onclick="window.history.back()">Back</button>


